@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS tambahan di bawah */
html {
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.swiper-pagination,
.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: block !important;
  text-align: center !important;
  margin-top: 1rem !important;
  flex-direction: unset !important;
  flex-wrap: unset !important;
}

.swiper-pagination {
  position: static !important;
  margin-top: 1rem !important;
  text-align: center !important;
  width: 100% !important;
}

.swiper-pagination-bullet {
  display: inline-block !important;
  margin: 0 4px !important;
  background: #d8d2f0 !important;
  opacity: 1 !important;
  vertical-align: middle !important;
}
.swiper-pagination-bullet-active {
  background: #e4b100 !important;
}


